@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
/* google icon Outline */

* { word-break: keep-all; }

body { min-width: 100%; }

.inner { width: 90%; }

.sec01 { height: 500px;}

.sec01top { 
    height: 90px;
    padding-top: 0;
    position: relative;
}
.sec01top:hover,
.sec01top.on {
    background-color: transparent;
    transition: none;
}
.sec01top .inner {
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
}
.sec01top .inner img {
    margin: 5px auto 0;
    width: 158px;
    height: 79px;
}
.sec01top .inner span.Mopenbt { 
    display: flex;
    position: absolute;
    top: 30px;
    right: 10px;
    color: #671C32;
    font-size: 30px; 
}
.sec01top .inner span.Mclosebt { 
    display: flex;
    position: absolute;
    top: 30px;
    right: 25px;
    color: #671C32;
    font-size: 30px; 
}
ul.gnb { width: 100%; }

ul.gnb li.bt { 
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #671C32;
    font-size: 30px; 
}
.sec01top .inner .nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 20px;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #E1C7BA; 
    transform: translateX(100%);
}
.sec01top div.nav.on {
    transform: translateX(0%);
    transition: transform 0.7s;
}
.sec01top .inner ul.user-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 15px;
    margin: 30px 0 0 0;
}
ul.gnb { flex-direction: column; }

ul.gnb li {
    width: 100%;
    margin: 0;
    height: auto;
    min-height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
ul.gnb li a {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
ul.gnb li > ul li { margin: 0; }

ul.gnb ul > li a {
    font-size: 16px;
    font-weight: 400;
}
ul.gnb > li:first-child > a:hover,
ul.gnb li a:hover:hover,
ul.gnb li li a:hover:hover { border-bottom: none; }

ul.gnb > li > ul {
    width: 60%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #671C32;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    transition: unset;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(222, 168, 163, 0.27);
}
ul.gnb li:hover > ul {
    background-color: transparent;
    transform: none;
    transition: unset;
}
.sec01conbox {
    height: 365px;
    position: relative;
    padding: 0;
}
.sec01conbox .inner {
    padding-top: 0;
    position: relative;
    z-index: 2;
}
.sec01conbox::before { display: none; }

.sec01conbox .brand-title {
    font-size: 30px;
    width: 85%;
    margin: 35px auto 0;
}
.sec01conbox .brand-txt01 {
    width: 86%;
    padding: 70px 0 0 10px;
}
.sec01conbox .brand-txt02 { display: none; }
/* section 01 영역 */

.sec02 { 
    height: 820px;
    padding: 28px 0 0 0;
}
.sec02 .mySwiper {
    width: 100%;
    height: 100%;
}
.swiper-backface-hidden .swiper-slide { background: #fff; }

.sec02conbox {
    flex-direction: column;
    justify-content: center;
}
.sec02 h2 { font-size: 30px; }

.sec02 .menu-left {
    width: 100%;
    order: 1;
}
.sec02 .menu-left-inner {
    padding: 0;
    width: 100%;
    height: 505px;
}
.sec02 .menu-left-inner .ice-title {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 0;
}
.sec02 .menu-left-inner .menu-infocard  { padding: 0; }

.sec02 .menu-left-inner .ice-title span::after {
    top: 30px;
    left: -5px;
}
.sec02 .menu-left-inner .flavor-text {
    font-size: 15px;
    text-align: center;
    padding: 25px 0 0 0;
}
.sec02 .menu-left-inner .menu-infocard .cap { flex-direction: column; }

.sec02 .menu-left-inner .menu-infocard .info {
    margin: 30px auto 0 ;
    padding: 0;
    width: 85%;
    overflow-x: auto;
}
.sec02 .menu-left-inner .menu-infocard .cap p:first-child {
    width: 100%;
    text-align: center;
    margin: 27px 0 0 0;
}
.sec02 .menu-left-inner .menu-infocard .cap p:last-child {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 14px 0 0 0;
}
.sec02 .menu-right {
    width: 100%;
    height: 260px;
}
.sec02 .menu-right::before { display: none; }

.sec02 .menu-right-gt-inner {
    height: 252px;
    background-size: 156px 252px, 320px;
    background-position: 50% 50%, 50% -77%;
}
.sec02 .menu-left-inner .etc-info { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 0 0;
    font-size: 15px;
}
.sec02  .menu-left-inner .etc-info .order-bt { margin: 25px 0 0 0; }
/* Green Tea Flavor */

.sec02 .menu-right.cookie {
    width: 100%;
    height: 260px;
}
.sec02 .menu-right.cookie::before { display: none; } 

.sec02 .menu-right-cc-inner {
    height: 252px;
    background-size: 171px 242px, 320px;
    background-position: 50% 50%, 50% -77%;
}
/* Cookie Cream Flaovr */

.sec02 .menu-right.md {
    width: 100%;
    height: 260px;
}
.sec02 .menu-right.md::before { display: none; }

.sec02 .menu-right-md-inner {
    height: 252px;
    background-size: 168px 249px, 320px;
    background-position: 50% 50%, 50% -77%;
}
/* Macadamia Nut Flavor */

.sec02 .menu-right.sb {
    width: 100%;
    height: 260px;
}
.sec02 .menu-right.sb::before { display: none; }

.sec02 .menu-right-sb-inner {
    height: 252px;
    background-size: 168px 253px, 320px;
    background-position: 50% 50%, 50% -77%;
}
/* Strawberry Flavor */

.sec02 .menu-right.vl {
    width: 100%;
    height: 260px;
}
.sec02 .menu-right.vl::before { display: none; }

.sec02 .menu-right-vl-inner {
    height: 252px;
    background-size: 173px 300px, 320px;
    background-position: 50% 57%, 50% -77%;
}
.slick-dots { bottom: 55px; }
/* Vanllia Flavor */
/* Section 02 영역 */

.sec03 { 
    height: 640px;
    flex-direction: column;
    margin: 45px 0 0 0;
}

.sec03 .bestSwiper { 
    width: 100%; 
    background: #fff;
}

.sec03 .sec03-vl-left {
    width: 100%;
    height: 500px;
    background-color: #DEBCA0;
    display: flex;
    justify-content: flex-end;
}

.sec03 .sec03-vl-left .sec03-left-vl-inner {
    width: 100%;
    padding: 64px 0 0 47px;
    background-image: url('../images/v_baaner.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 110% 100%;
}

.sec03 .sec03-vl-left .sec03-left-vl-inner p:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.sec03 .sec03-vl-left .sec03-left-vl-inner h2 {
    margin: 30px 0 0 10px;
    color: #FFECB3;
    font-weight: bold;
    font-size: 35px;
}

.sec03 .sec03-vl-left .sec03-left-vl-inner p:last-child {
    margin: 22px 0 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
/* Vanllia Banner */

.sec03 .sec03-gt-left {
    width: 100%;
    height: 500px;
    background-color: #A5CA95;
    display: flex;
    justify-content: flex-end;
}

.sec03 .sec03-gt-left .sec03-left-gt-inner {
    width: 100%;
    padding: 64px 0 0 47px;
    background-image: url('../images/g_banner.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 115% 100%;
}

.sec03 .sec03-gt-left .sec03-left-gt-inner p:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.sec03 .sec03-gt-left .sec03-left-gt-inner h2 {
    margin: 30px 0 0 10px;
    color: #5F9747;
    font-weight: bold;
    font-size: 35px;
}

.sec03 .sec03-gt-left .sec03-left-gt-inner p:last-child {
    margin: 22px 0 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
/* Green Tea Banner */

.sec03 .sec03-sb-left {
    width: 100%;
    height: 500px;
    background-color: #E99393;
    display: flex;
    justify-content: flex-end;
}

.sec03 .sec03-sb-left .sec03-left-sb-inner {
    width: 100%;
    padding: 64px 0 0 47px;
    background-image: url('../images/s_banner.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 115% 100%;
}

.sec03 .sec03-sb-left .sec03-left-sb-inner p:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.sec03 .sec03-sb-left .sec03-left-sb-inner h2 {
    margin: 30px 0 0 10px;
    color: #E06666;
    font-weight: bold;
    font-size: 35px;
}

.sec03 .sec03-sb-left .sec03-left-sb-inner p:last-child {
    margin: 22px 0 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.sec03 .sec03-right {
    width: 100%;
    height: 140px;
    background: none;
}
/* Strawberry Banner */

.sec03 .sec03-bc-left {
    width: 100%;
    height: 500px;
    background-color: #CC7945;
    display: flex;
    justify-content: flex-end;
}

.sec03 .sec03-bc-left .sec03-left-bc-inner {
    width: 100%;
    padding: 64px 0 0 27px;
    background-image: url('../images/b_banner.png');
    background-repeat: no-repeat;
    background-size: 37%;
    background-position: 118% 100%;
}

.sec03 .sec03-bc-left .sec03-left-bc-inner p:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.sec03 .sec03-bc-left .sec03-left-bc-inner h2 {
    margin: 30px 0 0 10px;
    color: #542C02;
    font-weight: bold;
    font-size: 27px;
}

.sec03 .sec03-bc-left .sec03-left-bc-inner p:last-child {
    margin: 22px 0 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
/* Belgian Choco Banner */

.sec03 .sec03-right {
    width: 100%;
    height: 140px;
    background: #fff;
}

.sec03 .sec03-right .sec03-right-inner {
    width: 100%;
    padding: 10px 0 0 20px;
}

.sec03 .sec03-right .sec03-right-inner .store-title {
    width: 40%;
    font-size: 25px;
}

.sec03 .sec03-right .sec03-right-inner P {
    margin: 12px 0 0 10px;
    font-size: 15px;
    font-weight: bold;
}
/* Section03 영역 */

footer { 
    height: 310px;
    padding: 20px 0 0 0;
}

footer .inner { flex-direction: column; }

footer .footer-left {
    width: 100%;
    height: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
footer .footer-left .hd-info { display: none; }

footer .footer-right {
    padding: 18px 0 0 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

footer .footer-right .right-user { 
    width: 100%; 
    flex-direction: column;
    text-align: center;
}

footer .footer-right .time {  margin: 24px 0 0 0; }

footer .footer-right .user p:last-child { margin: 15px 0 0 0; }

footer .footer-right .shortcut  {
    align-self: center;
    margin: 28px 0 0 0;
}
/* Footer 영역 */



